html {
    /* outline: 2px solid red; */
    height: 100%;
}

body {
    /* outline: 2px solid red; */

    height: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
    color: #fff;
    height: 100vh;
    background-image: linear-gradient(to right,
            hsl(217, 99%, 44%),
            hsl(218, 99%, 39%))
}

.left .service {
    margin: 2em;
}

.page .right {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-basis: 60%;
    height: 100vh;

}

.left .services {
    flex-basis: 80%;
}

.service {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10em 5em;
}

.service .logo {

    width: 6em;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(218, 78%, 49%);
}

.service img {
    width: 5em;
    height: 4em;
}

.service .details {
    padding: 5px;
}

.right {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    align-items: center;
    justify-content: center;

}

.right .title {
    margin-left: -30%;
}

.title .blue-head {
    color: hsl(219, 90%, 40%);
}

form .row {
    display: flex;
    margin-top: 2em;
}

form label {
    margin-bottom: .4em;
}

form .input {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* margin-right: 2em; */
    background: transparent;
    /* width: 70rem; */
    outline: none;
    border: 0;
    /* padding-left: 5px; */
}

FORM .input input {
    /* flex-grow: 1; */
    width: 100%;

}

div.row.reports {
    margin-right: 2em;
    padding: 0;
}

input#role {
    flex-grow: 1;
}

.tnc {
    flex-basis: 60%;
}

.btn-signup {
    font-size: 18px;
    padding: 12px;
    border-radius: 3px;
    width: 100%;
    border: 0;
    background: hsl(219, 90%, 40%);
    color: #fff;
    /* margin-top: 30px; */
}

@media(max-width: 768px) {
    .page {
        flex-direction: column;
        margin: 0 15px;
    }

    .right .title {
        margin-left: -45%;
    }
}